<div style="background-color: white;height:100vh;">
    <mat-card style="margin: 5px;" fxlayout="column">
        <ul>
            <h4>Top Catgories</h4>
            <li *ngFor="let category of categories; let indexer=index" class="category-item"
                (click)="selectCategory(category, indexer)"
                [ngClass]="{ 'category-highlight': indexer == selectedIndex }">{{category.name}}
                <!-- <a class="category-item" tabindex="0" role="menuitem" >{{category.name}}</a> -->
            </li>
        </ul>
    </mat-card>
</div>